<div>
  <section class="hero is-small is-dark mb-2">
    <div class="hero-body">
      <p class="title is-size-5 has-text-warning">{{ title }}</p>
      <p class="subtitle is-size-6 has-text-warning">{{ subtitle }}</p>
    </div>
  </section>
</div>