<div class="message-box mb-2">
  <div class="control level is-mobile has-icons-left mb-2">
    <input class="input" name="messages[]" type="text" placeholder="Any Special Message" value="{{message || ''}}" />
    <span class="icon is-small is-left">
      <i class="fas fa-envelope"></i>
    </span>
    <a class="button level-right is-danger is-light has-text-dark remove-message" type="button">
      <i class="fa-regular fa-trash-can"></i>
    </a>
  </div>
</div>