<!DOCTYPE html>
<html data-theme="light">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Jewellary Gifting </title>
    @vite(['resources/css/app.css', 'resources/js/app.js'])
</head>

<body>
    <main>
        <div class="container p-2" style="height: 100vh;">
            {{{ await $slots.main() }}}
        </div>
    </main>
</body>

</html>