@component('layouts/main')
<div class="container">

  {{-- Header --}}
  @component('components/header', {
  title: 'Home',
  subtitle: 'Welcome to Gifting Studio'
  })
  @end

  {{-- Navigation purpose only --}}
  <a href="{{ route('assets.index') }}" class="button is-dark mt-1 has-text-warning">Request for Gift</a><br>
  <a href="{{ route('/login') }}" class="button is-dark mt-1 has-text-warning">Login Page</a><br>
</div>
@end