@component('layouts/main')
<section class="hero is-small is-dark">
  <div class="hero-body">
    <p class="title">Home</p>
    <p class="subtitle">Welcome to Gifting Studio</p>
  </div>
</section>

<a href="/login">Login Page</a><br>
<a href="/assets">Asset page</a><br>
@end